[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AdequacyModel"]
	path = AdequacyModel
	url = https://github.com/prdm0/adequacymodel
[submodule "hcci"]
	path = hcci
	url = https://github.com/prdm0/hcci
[submodule "ropenblas"]
	path = ropenblas
	url = https://github.com/prdm0/ropenblas
