[submodule ".registry"]
	path = .registry
	url = https://github.com/prdm0/prdm0.r-universe.dev
	branch = HEAD
[submodule "AcceptReject"]
	path = AcceptReject
	url = https://github.com/prdm0/AcceptReject
[submodule "hcci"]
	path = hcci
	url = https://github.com/prdm0/hcci
[submodule "hcinfer"]
	path = hcinfer
	url = https://github.com/prdm0/hcinfer
[submodule "probcal"]
	path = probcal
	url = https://github.com/prdm0/probcal
